  <div class="container">
  <br>
  <br>
        <div class="row">
            <div class="col-lg-6 mb-2 sticky-top">
                <div class="card">
                    <img class="card-img-top" src="https://savageuniversal.com/wp-content/uploads/2017/02/1-vintage-world-map-printed-vinyl-backdrop.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top img-thumbnail"" src="https://blog.architizer.com/wp-content/uploads/11-48.jpg" alt="">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">
                        Description
                        </p>

                        <a href="#" class="btn btn-outline-success btn-sm">
                            Book now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
